<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Inicio</title>
</head>
<body>

  <!-- autenticado -->
  <div th:if="${isAuth}">
    Bienvenido/a
    <strong th:text="${#httpServletRequest.userPrincipal.name}">usuario@correo</strong>
    <!-- Logout clásico por POST (con CSRF) -->
    <a th:href="@{/logout}">Salir</a>
  </div>

  <!-- no autenticado -->
  <div th:if="${!isAuth}">
    Bienvenido/a, ¡registrate!
    <a th:href="@{/registro}">Crear cuenta</a> o
    <a th:href="@{/login}">iniciar sesión</a>.
  </div>

</body>
</html>
